/*---------------------------------------------------------------------------------HEADER-----*/
body{
    font-family: 'Montserrat';
}
header{
    text-align: center;
}
header h1{
    color: #20274b;
    font-weight: bold;
    margin: 5px 5px;
}
header ul{
    list-style: none;
}
header ul li{
    display: inline-block;
    padding: 5px 70px 5px 2px; 
}
header ul li a{
    color: #e6e4e4;
    font-size: 16px;
}
header .lista:hover{
    background-color: #eaf0f4;
    padding: 10px;
}
/* -------------------------------------------------------------------------------CSS SECTION */
.container{
    width: 10px;
    height: 10px;
    display: inline-block;
}
.clasesVarias {
    background-color: #f0f2f4;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding: 20px;
    
}
.clasesVarias h1 {
    text-align: center;
    margin: 40px auto 30px auto;
    font-size: 25px;  
}
.clasesVarias td {
    padding: 150px 15px;
    width: auto;
    height: 200px;
    margin: 20px ;
    
}
.clase1{
    background-image: url(../img/dance_12.jpg);
    background-size:cover;
    border-right: 20px solid white ;
    border-bottom: 20px solid white;
}
.clase2 {
    background-image: url(../img/breakdance.jpg);
    background-size :cover;
     border-right: 20px solid white ;
     border-bottom: 20px solid white;

}
.clase3 {
    background-image: url(../img/lirical-jazz.jpg);
    background-size: cover;
     border-right: 20px solid white ;
     border-bottom: 20px solid white;
}
.clase4 {
    background-image: url(../img/arabe.jpg);
    background-size: cover;
     border-right: 20px solid white ;
}
.clase5{
    background-image: url(../img/little.jpg);
    background-size: cover;
     border-right: 20px solid white ;
}
.clase6 {
    background-image: url(../img/yoga.jpg);
    background-size: cover;
     border-right: 20px solid white ;
}
td div {
    padding: 20px 15px;
    text-align: center;
    margin: 5px auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px auto 50px auto;
}
.clasesVarias h2 {
    font-size: 20px;
}
.clasesVarias p {
    font-size: 15px;
}
<<<<<<< HEAD

/*---------------------------------------------------------------------- CONTACTANOS--*/
=======
>>>>>>> 02e538533df5dd51ed0d58e10ed0cd4b7b076f53
.contactanos {
    background: url(../img/shoes_1.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 535px;
}
.contactanos h2 {
    color: #18235f;
    font-weight: bold;
    margin: 70px 0 0 60px;
}
.contactanos form {
    width: 50%;
    padding: 10px 0 10px 60px;
}
.contactanos input, textarea {
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 40px;
}
.contactanos textarea {
    min-width: 100%;
<<<<<<< HEAD
    max-width: 100%;
    height: 100px;
}
.contactanos img{
    width: 22px;
}
.contactanos, .user, .carta{
    position: relative;
    bottom: 30px;
    left: 10px;
}
.contactanos .mensaje{
    position: relative;
    bottom: 100px;
    left: 10px;
}
.contactanos .enviar {
    background: #18235f;
    padding: 14px;
    color: #e6e4e4;
    border-radius: 5px;
    font-size: 16px;
}
/*---------------------------------------------------------------------- FOOTER --*/
footer {
    background: #18235f;
    padding: 20px 0 7px 0 ;
}
footer small {
    color: #fff;
}
=======
    max-width: 100%;
>>>>>>> 02e538533df5dd51ed0d58e10ed0cd4b7b076f53
