

header{
    text-align: center;
}
header h1{
    color: #154360;
    font-weight: bold;
}
header ul{
    list-style: none;
}
header ul li{
    display: inline-block;
    padding: 5px 70px 5px 2px; 
}
header ul li a{
    color: #B2BABB;
    font-size: 18px;
}
h2
{font-weight: bold;
 color: #17202A;   
}
.oferta
{ 
    background-color:#EBF5FB;
text-align: center;
font-weight: bold; }
.bailes
{

	display: inline-block;
    background-color: #EBF5FB;
}
.texto
{
    color: #F0F3F4;
    background: rgba(0, 0, 0, 0.3);
    width: 38%;
    position: relative;
    top: -200px;
    padding: 10px 10px -15px 10px;
    left: 85px;
}

