*{outline: solid red 1px;}
/*---------------------------------------------------------------------------------HEADER-----*/
body{
    font-family: 'Montserrat';
}
header{
    text-align: center;
}
header h1{
    color: #20274b;
    font-weight: bold;
}
header ul{
    list-style: none;
}
header ul li{
    display: inline-block;
    padding: 5px 70px 5px 2px; 
}
header ul li a{
    color: #e6e4e4;
    font-size: 16px;
}

/*---------------------------------------------------------------------------------------HERO-----*/
.hero{
    background-image: url(../img/dance_1.jpg);
    background-size: 100%;
    height: 400px;
    padding-top: 60px; 
}
.hero h2{
    color: #bfc4c6;
    font-size: 45px;
}
.hero p{
    color: #f4f4f4;
    padding: 10px 10px;
}
.hero button{
    color:#f4f4f4;
    background: #020e1e;
}

/*---------------------------------------------------------------------------------------CONTENIDO-----*/
.contenido{
    background-image: url(../img/textura_2.jpg);
    padding-bottom: 60px;
}
.contenido p{
    font-size: 20px;
    padding-top: 60px;
    text-align: center;
}
.contenido .decoration1{
    width: 120px;
    height: 120px;
    margin-left: 320px;
}
.contenido button{
    margin-left: 260px;
    padding: 20px 80px 20px 80px;
    background-color: #1a2952;
    color: #f4f4f4;
    border-radius: 8px;      
}
/*------------------------------------------------------------------------------------------INSTRUCTORES--*/
.instructores, .hombre, .mujer{
    background-size: cover;
    height: 310px;
}
.instructores .hombre{
    background-image: url(../img/instructor_4.jpg);
}
.instructores .mujer{
    background-image: url(../img/profesor_9.jpg);
}
.instructores p{
    background-color: #1a2952;
    color: #e6e4e4;
    width: 500px;
    position: relative;
    left: 380px;
    bottom: 68px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

/*---------------------------------------------------------------------- FRASE --*/
.frase{
    background-image: url(../img/textura_2.jpg);
    height: 300px;
}
.frase p{
    color: #20274b;
    padding: 50px 50px; 
    font-size: 35px;
    text-align: center;
}
/*---------------------------------------------------------------------- MAPA --*/
.mapa{
    background-color: #1a2952;
    padding-bottom: 50px;
}
.mapa .row{
    padding-top: 40px;
    color:#e6e4e4;
}
.mapa .row h2{
    color: white;
}
.mapa iframe{
    margin-left: 150px;
}
/*---------------------------------------------------------------------- CONTACTANOS--*/
.contactanos {
    background: url(../img/shoes_1.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.contactanos h2 {
    color: #18235f;
    font-weight: bold;
    margin: 70px 0 0 60px;
}
.contactanos form {
    width: 52%;
    padding: 20px 0 20px 60px;
}
.contactanos label {
    font-size: 26px;
    margin: 11px 0 0 9px;
    position: absolute;
    vertical-align: middle;
}
.contactanos input, textarea {
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 40px;
    margin: 7px 0;
}
.contactanos textarea {
    min-width: 100%;
    max-width: 100%;
    height: 100px;
}
.contactanos .enviar {
    background: #18235f;
    padding: 14px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}
/*---------------------------------------------------------------------- FOOTER --*/
footer {
    background: #18235f;
    padding: 20px 0 7px 0 ;
}
footer small {
    color: #fff;
}









