/*------------------------------------------------------------HEADER*/
body{
    font-family: 'Montserrat';
}
header{
    text-align: center;
}
header h1{
    color: #20274b;
    font-weight: bold;
}
header ul{
    list-style: none;
}
header ul li{
    display: inline-block;
    padding: 5px 70px 5px 2px; 
}
header ul li a{
    color: #e6e4e4;
    font-size: 16px;
}

/*--------------------------------------------------------------HERO*/
.hero {
	height: 400px;
	background-image: url("../img/dance_7.jpg");
	background-size: 130%;
	background-position: center left;
	min-height: 300px;
	color: white;
	text-align: center; }

.hero .us {
	background: rgba(0, 0, 0, 0.4);
	width: 38%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 90px;
	padding: 20px 20px 40px 20px; }

.hero .us h2 {
	padding-bottom: 20px; }

.hero .us p {
	color: #9e9d9b;
	font-size: 15px; }

/*-----------------------------------------------------------PILARES*/
.container0 {
	height: 320px;
	background-image: url("../img/cubes.png"); }

.container0 h3 {
	color: #999C9E;
	margin-left: 125px;
	padding-top: 70px; 
	padding-bottom: 10px; }

.container0 p {
	text-align: center;
	color: #C6C6C6;
	border-top: 1px solid #999C9E;
	padding-bottom: 30px;
	padding-top: 20px;
	margin-left: 30px;
	width: 70%; }

.pilar {
	margin: 0 120px 0 120px; }


/*------------------------------------------------------INSTRUCTORES*/
.container1 {
	width: 80% ;
	margin-right: auto;
	margin-left: auto; }

.profe1 {
	background-image: url("../img/profesor_4.jpg");
	height: 176px;
	background-size: cover;
	border-right: 9px solid white;
	margin-bottom: 130px; }

.profe2 {
	background-image: url("../img/profesor_14.jpg");
	height: 176px;
	background-size: cover;
	border-left: 9px solid white; }

.profe3 {
	background-image: url("../img/profesor_1.jpg");
	height: 176px;
	background-size: cover;
	border-left: 16px solid white;
	border-right: 9px solid white; }

.profe4 {
	background-image: url("../img/profesor_10.jpg");
	height: 176px;
	background-size: cover;
	border-left: 9px solid white; }

.profe5 {
	background-image: url("../img/profesor_11.jpg");
	height: 176px;
	background-size: cover;
	border-right: 9px solid white;
	margin-bottom: 60px; }

.profe6 {
	background-image: url("../img/profesor_12.jpg");
	height: 176px;
	background-size: cover;
	border-left: 9px solid white; }

.profe7 {
	background-image: url("../img/profesor_9.jpg");
	height: 176px;
	background-size: cover;
	border-left: 16px solid white;
	border-right: 9px solid white; }

.profe8 {
	background-image: url("../img/profesor_15.jpg");
	height: 176px;
	background-size: cover;
	border-left: 9px solid white; }


.instructores h3 {
	text-align: center;
	font-size: 30px;
	margin-top: 60px;
	padding-bottom: 60px; }

.instructores h4 {
	padding-top: 180px; }



/*-------------------------------------------------FRASE INSPIRADORA*/

.Frase {
	width: 100%;
	height: 250px;
	margin-top: 100px;
	background-image: url("../img/cubes.png"); }

.Frase h2 {
	padding-left: 90px;
	padding-top: 70px;  }









/*------------------------------------------------------------FOOTER*/